*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Font
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

// Color

$yellow : rgb(255, 228, 75);
$black : #000;
$white : #fff;

body{
  font-family: roboto;
  display: flex;
  flex-direction: column;
}

h1{
  font-family: 'Dela Gothic One', cursive;
}

