@import 'core.scss';

// Title

h1 {
  font-family: "Dela Gothic One", cursive;
  color: $yellow;
}

// Subtitle

h2{
  font-family: "Dela Gothic One", cursive;
  color: $black;
}

button{
  width: 200px;
  background-color: $yellow;
  color: $black;
  height: 60px;
  border: 0px solid black;
  font-size: 1.5em;
}