@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300);
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Dela Gothic One", cursive;
}

section {
  width: 100vw;
  height: 100vh;
}

.hero-section {
  background-image: url("./img/2.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-section .hero-section__title {
  font-size: 10rem;
}

.about-section {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-top: 50px;
}
.about-section .about-section__img {
  width: 50%;
  background-image: url("./img/3.jpg");
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}
.about-section .about-section__img h1 {
  font-size: 5rem;
  text-align: center;
}
.about-section .about-section__content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section .about-section__content .about-section__content--container {
  width: 50%;
  height: 50%;
}
.about-section .about-section__content .about-section__content--container p {
  font-size: 2rem;
}

.pricing-section {
  margin-top: 35px;
}
.pricing-section .pricing-section__header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pricing-section .pricing-section__header h2 {
  font-size: 6rem;
}
.pricing-section .pricing-section__header p {
  font-size: 2rem;
}

.cta-section .cta-section__header {
  margin-top: 35px;
  background-image: url("./img/1.png");
  background-position: center;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cta-section .cta-section__header h1 {
  font-size: 4rem;
  text-transform: uppercase;
  width: 30%;
}
.cta-section .cta-section__header button {
  margin-top: 15rem;
}
.cta-section .cta-section__header p {
  font-size: 2rem;
  color: white;
  text-align: center;
  width: 80%;
}
.cta-section footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  background-color: #f7d200;
  color: #000;
  font-size: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Dela Gothic One", cursive;
}

.nav {
  width: 100vw;
  height: 60px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  position: absolute;
  top: 0;
  align-items: center;
  /*glow for webkit*/
  /*glow for mozilla*/
}
.nav .logo {
  text-align: center;
  font-size: 3em;
  margin-left: 50px;
}
.nav .logo a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #f7d200;
  font-family: Audiowide;
  -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
  -moz-animation: neon5 1.5s ease-in-out infinite alternate;
  animation: neon5 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #555, 0 0 20px #555, 0 0 30px #555, 0 0 40px #f7d200, 0 0 70px #f7d200, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #555, 0 0 10px #555, 0 0 15px #555, 0 0 20px #f7d200, 0 0 35px #f7d200, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
@-moz-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #555, 0 0 20px #555, 0 0 30px #555, 0 0 40px #f7d200, 0 0 70px #f7d200, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #555, 0 0 10px #555, 0 0 15px #555, 0 0 20px #f7d200, 0 0 35px #f7d200, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #555, 0 0 20px #555, 0 0 30px #555, 0 0 40px #f7d200, 0 0 70px #f7d200, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #555, 0 0 10px #555, 0 0 15px #555, 0 0 20px #f7d200, 0 0 35px #f7d200, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
.nav .item {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.containerShowMore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

ul li {
  margin: 0 0 24px;
  list-style: none;
}

.the-arrow {
  width: 1px;
  transition: all 0.2s;
}
.the-arrow.-left {
  position: absolute;
  top: 60%;
  left: 0;
}
.the-arrow.-left > .shaft {
  width: 0;
  background-color: #4c4c4c;
}
.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
  width: 0;
  background-color: #4c4c4c;
}
.the-arrow.-left > .shaft:before {
  transform: rotate(0);
}
.the-arrow.-left > .shaft:after {
  transform: rotate(0);
}
.the-arrow.-right {
  top: 3px;
}
.the-arrow.-right > .shaft {
  width: 1px;
  transition-delay: 0.2s;
}
.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
  width: 8px;
  transition-delay: 0.3s;
  transition: all 0.5s;
}
.the-arrow.-right > .shaft:before {
  transform: rotate(40deg);
}
.the-arrow.-right > .shaft:after {
  transform: rotate(-40deg);
}
.the-arrow > .shaft {
  background-color: #4c4c4c;
  display: block;
  height: 1px;
  position: relative;
  transition: all 0.2s;
  transition-delay: 0;
  will-change: transform;
}
.the-arrow > .shaft:before, .the-arrow > .shaft:after {
  background-color: #4c4c4c;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  transition-delay: 0;
}
.the-arrow > .shaft:before {
  transform-origin: top right;
}
.the-arrow > .shaft:after {
  transform-origin: bottom right;
}

.animated-arrow {
  display: inline-block;
  color: #4c4c4c;
  font-size: 1.25em;
  font-style: italic;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
}
.animated-arrow:hover {
  color: #808080;
}
.animated-arrow:hover > .the-arrow.-left > .shaft {
  width: 64px;
  transition-delay: 0.1s;
  background-color: #808080;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
  width: 8px;
  transition-delay: 0.1s;
  background-color: #808080;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before {
  transform: rotate(40deg);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:after {
  transform: rotate(-40deg);
}
.animated-arrow:hover > .main {
  transform: translateX(17px);
  transform: translateX(80px);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
  width: 0;
  transform: translateX(200%);
  transition-delay: 0;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  width: 0;
  transition-delay: 0;
  transition: all 0.1s;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
  transform: rotate(0);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  transform: rotate(0);
}
.animated-arrow > .main {
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.animated-arrow > .main > .text {
  margin: 0 16px 0 0;
  line-height: 1;
  font-weight: 900;
  font-size: 2rem;
}
.animated-arrow > .main > .the-arrow {
  position: relative;
}

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
}
body a {
  text-decoration: none;
  color: white;
}
body .pricing-section__container {
  width: 100%;
  text-align: center;
}
body .pricing-section__container .card {
  margin: 0 auto;
  display: inline-block;
  margin-right: 30px;
  transform: scale(0);
  width: 280px;
  text-align: center;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
  opacity: 0.5;
  box-shadow: 0px 17px 46px -10px #555777;
  height: 470px;
  border-radius: 14px;
}
body .pricing-section__container .card:nth-of-type(1) {
  animation: intro 1s 0.1s forwards;
}
body .pricing-section__container .card:nth-of-type(2) {
  animation: intro 1s 0.2s forwards;
}
body .pricing-section__container .card:nth-of-type(3) {
  animation: intro 1s 0.3s forwards;
}
body .pricing-section__container .card:nth-of-type(1) {
  background: -webkit-linear-gradient(45deg, #c96881 0%, #f7b695 100%);
}
body .pricing-section__container .card:nth-of-type(2) {
  background: -webkit-linear-gradient(45deg, #6B6ECC 0%, #89BFDF 100%);
}
body .pricing-section__container .card:nth-of-type(3) {
  background: -webkit-linear-gradient(45deg, #81B77B 0%, #A3E3C3 100%);
}
body .pricing-section__container .card:hover .card_inner__header img {
  left: -50px;
  transition: all 3.4s linear;
}
body .pricing-section__container .card:hover .card_inner__cta button {
  transform: scale(1);
}
body .pricing-section__container .card:nth-of-type(1):hover .card_inner__circle img {
  animation: launch 1s forwards;
}
body .pricing-section__container .card:nth-of-type(1) .card_inner__circle img {
  top: 22px;
  left: 1px;
}
body .pricing-section__container .card:nth-of-type(2):hover .card_inner__circle img {
  animation: spin 1s forwards;
}
body .pricing-section__container .card:nth-of-type(2) .card_inner__circle img {
  top: 22px;
}
body .pricing-section__container .card:nth-of-type(3):hover .card_inner__circle img {
  animation: fly 1s forwards;
}
body .pricing-section__container .card:nth-of-type(3) .card_inner__circle img {
  top: 22px;
  left: 1px;
}
body .pricing-section__container .card:hover {
  opacity: 1;
}
body .pricing-section__container .card_inner__circle {
  overflow: hidden;
  width: 70px;
  position: absolute;
  background: #F1F0ED;
  z-index: 10;
  height: 70px;
  border-radius: 100px;
  left: 0;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.28);
  right: 0;
  margin: auto;
  border: 4px solid white;
  top: 82px;
}
body .pricing-section__container .card_inner__circle img {
  height: 26px;
  position: relative;
  top: 17px;
  transition: all 0.2s;
}
body .pricing-section__container .card_inner__header {
  height: 120px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  overflow: hidden;
}
body .pricing-section__container .card_inner__header img {
  width: 120%;
  position: relative;
  top: -30px;
  left: 0;
  transition: all 0.1s linear;
}
body .pricing-section__container .card_inner__content {
  padding: 20px;
}
body .pricing-section__container .card_inner__content .price {
  color: white;
  font-weight: 800;
  font-size: 70px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}
body .pricing-section__container .card_inner__content .text {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 100;
  margin-top: 20px;
  font-size: 13px;
  line-height: 16px;
}
body .pricing-section__container .card_inner__content .title {
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.64);
  margin-top: 40px;
  font-size: 25px;
  letter-spacing: 1px;
}
body .pricing-section__container .card_inner__cta {
  position: absolute;
  bottom: -24px;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
}
body .pricing-section__container .card_inner__cta button {
  padding: 16px;
  width: 100%;
  background: -webkit-linear-gradient(-90deg, #f7d200 0%, #bea304 100%);
  border: none;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: white;
  outline: none;
  font-size: 20px;
  border-radius: 6px;
  transform: scale(0.94);
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s 0.1s;
}
body .pricing-section__container .card_inner__cta button span {
  text-shadow: 0px 4px 18px #BA3F57;
}
body .pricing-section__container .card_inner__cta button:hover {
  box-shadow: 0px 0px 60px 8px #F76583, 0px 0px 0px 2px rgba(255, 255, 255, 0.19) inset;
}

@keyframes launch {
  0% {
    left: 1px;
  }
  25% {
    top: -50px;
    left: 1px;
  }
  50% {
    left: -100px;
  }
  75% {
    top: 100px;
    transform: rotate(40deg);
  }
  100% {
    left: 1px;
  }
}
@keyframes fly {
  0% {
    left: 0px;
  }
  25% {
    top: -50px;
    left: 50px;
  }
  50% {
    left: -130px;
  }
  75% {
    top: 60px;
  }
  100% {
    left: 0px;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes intro {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.06);
  }
  50% {
    transform: scale(0.965);
  }
  75% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Dela Gothic One", cursive;
}

h1 {
  font-family: "Dela Gothic One", cursive;
  color: #f7d200;
}

h2 {
  font-family: "Dela Gothic One", cursive;
  color: #000;
}

button {
  width: 200px;
  background-color: #f7d200;
  color: #000;
  height: 60px;
  border: 0px solid black;
  font-size: 1.5em;
}

/*# sourceMappingURL=main.css.map */
